.noMatch{
    text-align: center;
    width: 100%;
    background: #5d005d;
    grid-column: 2/3;
    border-radius: 25px;
    color: white;
    height: 200px;
    font-size: 25px;
}

.noMatchP {
    display: flex;
    height: 60%;
    justify-content: center;
    align-items: center;
}
  